/* Modifying base Mirador junk */
.view-container {
  margin-left: 0;
}

.sidePanel .tabGroup ul {
  padding-left: 10px;
  margin-bottom: 0;
}

.tabContentArea {
  width: 100%;
  height: calc(100% - 38px);
  border-right: 0;
  border-left: 2px solid lightgray;
  overflow-y: auto;
  overflow-x: hidden;
}

.tabContentArea ul {
  list-style-type: none;
  padding: 0 18px;
  margin: 0;
}

.tabContentArea ul > li.annotationItems {
  border-bottom: 1px solid gray;
  padding-bottom: 10px;
}

.sidePanel {
  /* Reposition side panel to right side */
  left: initial;
  right: 0;
  /* Now make it look better */
  padding: 0;
}

.sidePanel h2 {
  margin: 18px 0;
}

.manifest-info .mirador-btn {
  float: left;
}

.window-manifest-navigation {
  width: auto;
}

.mirador-viewer .mirador-icon-image-view,
.mirador-viewer .mirador-icon-window-menu {
  width: 36px;
}

.mirador-viewer .mirador-icon-home,
.mirador-viewer .mirador-icon-pin-window,
.mirador-viewer .mirador-icon-image-view {
  color: rgb( 146, 145, 145 );
}

.mirador-viewer .mirador-icon-home:hover,
.mirador-viewer .mirador-icon-pin-window:hover,
.mirador-viewer .mirador-icon-image-view:hover {
  color: black;
}

.mirador-viewer .mirador-icon-pin-window.selected {
  transform: rotate(0);
  color: black;
}

.mirador-viewer .mirador-icon-pin-window {
  transform: rotate(45deg);
}

/* Rotate HUD controls */
.mirador-osd-rotate-left {
  position: absolute;
  top: 43px;
  left: 44px;
  font-size: 33%;
}

.mirador-osd-rotate-right {
  position: absolute;
  top: 44px;
  left: 85px;
  font-size: 33%;
}

/*
 * Stylesheet for AoR specific customizations
 */
.aor-icon {
  float: left;
  width: 12px;
  height: 12px;
  margin: 1px;
  border-radius: 3px;
  border: 2px solid black;
}
.side-left {
  border-left: 6px solid black;
  width: 8px;
}
.side-right {
  border-right: 6px solid black;
  width: 8px;
}
.side-top {
  border-top: 6px solid black;
  height: 8px;
}
.side-bottom {
  border-bottom: 6px solid black;
  height: 8px;
}

.side-within {}
.side-within .inner {
  float: left;
  margin-top: 2px;
  margin-left: 2px;
  height: 8px;
  width: 8px;
  border-radius: 3px;
  background-color: black;
}

.side-left.side-right {
  width: 4px;
}
.side-left.side-within .inner {
  margin-left: -2px;
}
.side-top.side-bottom {
  height: 4px;
}
.side-top.side-within .inner {
  margin-top: -2px;
}

/* Styles for orientation arrows */
.aor-icon-container {
  float: left;
  height: 25px;
  width: 25px;
  margin-right: 8px;
}

.aor-icon-container .orientation {
  position: relative;
  float: left;
  width: 0;
  height: 0;
}

.orientation.arrow-top {
  left: 3px;
  border-bottom: 6px solid black;
  border-left: 6px solid transparent;
  border-right: 6px solid transparent;
}

.orientation.arrow-bottom {
  left: 3px;
  border-top: 6px solid black;
  border-left: 6px solid transparent;
  border-right: 6px solid transparent;
}

.orientation.arrow-left {
  top: 3px;
  border-right: 6px solid black;
  border-top: 6px solid transparent;
  border-bottom: 6px solid transparent;
}

.orientation.arrow-right {
  top: 3px;
  border-left: 6px solid black;
  border-top: 6px solid transparent;
  border-bottom: 6px solid transparent;
}


/*
 * ##############################
 * Search Panel
 * ##############################
 */
.search-within-object-select {
  width: 100%;
}
.searchResults  {
  overflow: auto;
  position: absolute;
  top: 0;
  height: 100%;
  width: 310px;
  padding: 0 10px;
}
.search-results-list .query {
  font-style: italic;
  color: grey;
}
.result-wrapper {
  border-bottom: 1px solid gray;
  padding: 5px 0 8px 5px;
  border-radius: 5px;
}
.js-show-canvas:hover {
  background-color: #D8D8D8;
}
.js-show-canvas {
  cursor: pointer;
}
.search-title {
  font-weight: bold;
  margin-bottom: 5px;
  display: block;
}
.js-close-search-within {
  margin-top: 0;
  background: none;
  color: rgb( 146, 145, 145 );
  box-sizing: border-box;
}
.search-disclose {
  margin-top: 10px;
  margin-bottom: 10px;
}
.search-disclose-container {
  border-top: 1px solid rgb( 146, 145, 145 );
}
.search-disclose-btn-more,
.search-disclose-btn-less {
  text-decoration: underline;
  margin-bottom: 10px;
  cursor: pointer;
  width: 100%;
}
.search-results-sorter {
  margin-bottom: 10px;
}
.advanced-search-lines table td {
  padding: 4px 0;
}
.advanced-search-lines input {
  padding: 2px 0;
  width: 150px;
  border-radius: 0;
  height: 16px;
}
.advanced-search-lines select {
  padding: 2px;
  height: 24px;
}
.advanced-search-inputs select {
  width: 154px;
  padding: 0;
  border-radius: 0;
}
.advanced-search-line button {
  margin-left: -1px;
  height: 24px;
  border-radius: 0;
}
.advanced-search-line {
  border-bottom: 1px solid rgb( 146, 145, 145 );
}
.search-results-list .result-wrapper .result-paragraph .highlight {
  background-color: rgb(255, 255, 0);
  padding: 0px 5px;
  color: black;
}
.search-results-container .selected {
  background-color: #D8D8D8;
}
.advanced-search-line table {
  border-collapse: collapse;
  border-spacing: 0;
}
.advanced-search-line table td {
  padding: 5px 0;
  margin: 0;
  float: left;
}
.advanced-search-selector {
  width: 120px;
}
.advanced-search-operators {
  -webkit-appearance: none;
  -moz-appearance: none;
  width: 36px;
  margin-right: -1px;
  border-radius: 3px 0 0 3px;
  cursor: pointer;
}
/* Get rid of dropdown arrow in IE */
.advanced-search-operators::-ms-espand {
  display: none;
}
.advanced-search-categories {
  float:right;
  width: 85px;
  border-radius: 0;
  cursor: pointer;
}
.search-results-context-menu ul {
  position: absolute;
  background-color: #efefef;
  text-align: center;
  list-style: none;
  margin-top: 9px;
  padding: 10px;
  border: 2px solid black;
  border-radius: 5px;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
}
.search-results-context-menu ul li {
  padding: 5px 0px;
  border-bottom: 1px solid black;
}
.search-results-context-menu ul li:last-child {
  padding-bottom: 0;
  border-bottom: 0;
}
.advanced-search-btn-container {
  margin: 10px 0;
}


/**
 * Advanced search description icon + tooltip
 */
.search-description-icon {
  position: absolute;
  left: 15px;
  color: gray;
}

.search-description-icon:hover {
  color: black;
}

.ui-tooltip {
  max-width: 500px;
}

.ui-tooltip-content {
  margin: 0 5px;
}
