#load-controls input {
  background: white;
  padding: 1px 12px;
  color: black;
}

.select-results {
  height: auto;
  position: absolute;
  top: 175px;
  bottom: 0;
  width: calc(100% - 15px);
}

.browser-search-container {
  float: left;
}

.browser-search .searchResults {
  background-color: white;
  width: inherit;
  height: inherit;
  padding-top: 0;
}

.browser-search .search-within-object-select {
  width: auto;
}

.browser-search-container .close {
  position: absolute;
  top: 0;
  left: 10px;
  z-index: 3;
}

.browser-search select {
  background: white;
  padding: 3px 6px;
  height: 29px;
  border: 1px solid #d3d3d3;
  border-radius: 2px;
}

.browser-search-container button {
  background: white;
  border: 1px solid #d3d3d3;
  height: 29px;
  padding: 0 9px;
}

.browser-search-container button:hover {
  border: 1px solid black;
}

.browser-search-container button:active {
  background: #f7f7f7;
}

/* Remove box shadow for pager */
.browser-search-container .compact-theme a,
.browser-search-container .compact-theme span {
  box-shadow: none;
}

/* Handle search results */
.browser-search-container .search-results-display {
  position: absolute;
  top: 170px;
  bottom: 0;
  margin-top: 10px;
  width: calc(100% - 10px);
  background-color: white;
  overflow-y: auto;
  z-index: 3;
}

.browser-search-container .search-results-display .search-results-close {
  display: block;
}
.browser-search-container .results-to-top {
  display: block;
}

/* Search UI inputs tweaks */
.browser-search-container .search-within-form input[type="text"] {
    width: 250px;
}
.browser-search-container .advanced-search-inputs input {
  width: calc(100% - 26px);
}
.browser-search-container .advanced-search-inputs select {
  width: 100%;
}
.browser-search-container .advanced-search-inputs {
    width: 200px;
}
.browser-search-container .advanced-search-selector {
    width: 200px;
}
.browser-search-container .advanced-search-selector .advanced-search-operators {
  width: 40px;
}
.browser-search-container .advanced-search-selector .advanced-search-categories {
  width: calc(100% - 40px);
}
