#manifest-search-form select {
  margin-right: 25px;
  height: 29px;
  padding: 1px 6px;
  border-radius: 3px;
  background: white;
  border: 1px solid #d3d3d3;
}

#manifest-search-form input[type="text"] {
  padding: 0 6px;
  width: 250px;
  margin-right: 25px;
}

#manifest-search-form button {
  height: 29px;
  padding: 3px 12px;
  color: gray;
  background: white;
  border: 1px solid #d3d3d3;
  border-radius: 3px;
  transition: 0.15s;
}

#manifest-search-form button:active {
  background: #d3d3d3;
}

#manifest-search-form button:hover {
  color: black;
  border: 1px solid black;
}

/* Styles for the search results modal */
.browser-search-results {
  position: absolute;
  top: 82px;
  bottom: 0;
  width: 100%;
  margin: 5px 0;
  padding: 10px;
  border: 1px solid black;
  background-color: rgba(250, 250, 250, 0.95);
  transition: 0.2s;
  display: none;
}

.browser-search-results .controls {
  width: 100%;
  margin-bottom: 10px;
}

.browser-search-results .controls i {
  cursor: pointer;
  margin-right: 12px;
  transition: 0.15s;
}

.browser-search-results .controls i:hover {
  color: #a0a0a0;
}

.browser-search-results .controls i:active {
  color: #d3d3d3;
}

.browser-search-results .results-items {
  position: absolute;
  top: 107px;
  bottom: 0;
  left: 0;
  width: 100%;
  padding: 12px;
  overflow: auto;
}
