#load-controls select {
  height: 29px;
  padding: 1px 6px;
  border-radius: 3px;
  background: white;
  border: 1px solid #d3d3d3;
}

#search-service-select {
  margin: 25px;
}

#manifest-search-form input[type="text"] {
  padding: 0 6px;
  width: 250px;
  margin-right: 25px;
}

#load-controls button {
  height: 29px;
  padding: 3px 12px;
  color: gray;
  background: white;
  border: 1px solid #d3d3d3;
  border-radius: 3px;
  transition: 0.15s;
}

#load-controls button:active {
  background: #d3d3d3;
}

#load-controls button:hover {
  color: black;
  border: 1px solid black;
}

/* Styles for the search results modal */
.browser-search-results {
  position: absolute;
  top: 145px;
  bottom: 0;
  width: 100%;
  padding: 10px;
  border: 1px solid black;
  background-color: rgba(250, 250, 250, 0.95);
  transition: 0.2s;
  display: none;
}

.browser-search-results .controls {
  width: 100%;
  margin-bottom: 10px;
}

.browser-search-results .controls i {
  cursor: pointer;
  margin-right: 12px;
  transition: 0.15s;
}

.browser-search-results .controls i:hover {
  color: #a0a0a0;
}

.browser-search-results .controls i:active {
  color: #d3d3d3;
}

.browser-search-results .results-items {
  position: absolute;
  top: 107px;
  bottom: 12px;
  left: 0;
  width: 100%;
  padding: 12px 12px 0 12px;
  overflow: auto;
  border-top: 1px solid gray;
}

#results-to-top {
  color: blue;
  cursor: pointer;
}

/* Advanced search stuff */
#load-controls .search-disclose {
  padding-left: 36px;
}
#load-controls .advanced-search-selector {
  width: 172px;
}
#load-controls .advanced-search-operators {
  width: 42px;
}
#load-controls .advanced-search-categories {
  width: 130px;
}
#load-controls .advanced-search-line input {
  padding: 1px 6px;
}
