.facet-container-scrollable {
  position: absolute;
  top: 176px;
  bottom: 0;
  height: auto;
  width: 300px;
  padding: 18px 0;
  margin-top: 10px;
  border-top: 1px solid gray;
  overflow-x: hidden;
}
