/*
  COLORS 
  Red: rgb(144, 25, 40) #901928
  Gold: rgb(199,152,84) #c79854
  Grey/Black: rgb(70, 67, 68) #464344
  shading: rgb(244, 242, 239)

  FONT
  Georgia is the serif font used throughout the AOR site.
 */

.aor-red {
  color: rgb(144, 25, 40);
}
.aor-background-red {
  background-color: rgb(144, 25, 40);
}
.aor-gold {
  color: rgb(199,152,84);
}
.aor-background-gold {
  background-color: rgb(199,152,84);
}
.aor-grey {
  color: rgb(70, 67, 68) !important;
}
.aor-background-grey {
  background-color: rgb(70, 67, 68);
}
.aor-shade {
  color: rgb(244, 242, 239);
}

/* body {
  font-family: Georgia, 'Times New Roman', Times, serif;
} */
.mirador-viewer, .mirador-main-menu-bar, .mirador-status-bar {
  font-family: Georgia, 'Times New Roman', Times, serif;
}
#top-banner {
  background-image: url('../images/aor/AOR_Viewer_TopBorder.jpg');
  background-repeat: repeat-x;
  height: 50px;
}
#viewer {
  height: calc(100% - 50px);  /* calc window height less height of banner */
}

/* Modifying base Mirador junk */

.mirador-main-menu-bar {
  background-color: rgb(70, 67, 68);
}
.mirador-main-menu a {
  color: rgb(199,152,84);
  opacity: 1;
}
.mirador-main-menu a:hover {
  
}

.user-logo {
  padding-top: 4px;
}
.user-logo #logo-title {
  font-size: 18px;
  letter-spacing: 6px;
}
.user-logo #logo-title:hover {}

/* 'Add Item' screen */
.slot h1 {
  color: lightgray;
}
.slot:hover h1 {
  color: white;
}

h2 {
  font-size: 18px;
}

.mirador-icon-close {
  float: left;
  background: none;
  color: rgb( 146, 145, 145 );
  box-sizing: border-box;
  margin-left: 5px;
  padding-bottom: 30px;
}
.mirador-icon-close:hover {
  color: black;
}
.mirador-icon-close:active {
  color: black;
}

/* Change Manifest List properties */
.items-listing {
  overflow-x: hidden;
  width: 100%;
  border-spacing: 0 4px;
  border-collapse: separate;
}
.items-listing tr {
  min-height: 90px;
}
.items-listing .manifest-entry {
  margin: 0 12px;
  cursor: pointer;
  display: flex;
}
.items-listing .manifest-entry:hover {
  background: #ddd;
}
.items-listing .repo-image-container {
  width: 50px;
  height: 50px;
}
.repo-image {
  opacity: 0.75;
}
.repo-image-container .repo-image {
  width: 50px;
  height: 50px;
}
.repo-image, .preview-thumb {
  align-self: center;
}
.repo-image img {
  width: initial;
  max-width: 100%;
  max-height: 100%;
}
.items-listing .select-metadata {
  float: none;
  width: 99%;
  max-width: none;
  height: auto;
  padding-right: 12px;
}
.preview-thumb {
  position: relative;
  width: 315px;
  height: 80px;
  overflow: hidden;
}
.manifest-title {
  font-weight: normal;
  overflow-x: hidden;
  font-size: 1.8em;
}
.item-info-row {
  color: gray;
}
.item-info {
  position: relative;
  font-size: 1.2em;
}
.ms-title {
  font-weight: normal;
  overflow-x: hidden;
  font-size: 1.4em;
}
.repo-label, .canvas-count {
  font-size: 1em;
  color: gray;
}
/* ------------------------------------------------------------------------- */

.view-container {
  margin-left: 0;
}

.sidePanel .tabGroup ul {
  padding-left: 10px;
  margin-bottom: 0;
}

.tabContentArea {
  width: 100%;
  height: calc(100% - 38px);
  border-right: 0;
  border-left: 2px solid lightgray;
  overflow-y: auto;
  overflow-x: hidden;
}

.tabContentArea ul {
  list-style-type: none;
  padding: 0 18px;
  margin: 0;
}

.tabContentArea ul > li.annotationItem {
  border-bottom: 1px solid gray;
  padding-bottom: 10px;
  min-height: 25px;
}

.overlay {
  background-color: rgba(239,239,239,0.99);
  background-color: rgb(239, 239, 239);
}

.sidePanel {
  /* Reposition side panel to right side */
  left: auto;
  right: 0;
  /* Now make it look better */
  padding: 0;
}

.sidePanel h2 {
  margin: 18px 0;
}

.manifest-info .mirador-btn {
  float: left;
}

.window-manifest-navigation {
  width: auto;
}

.mirador-viewer a.mirador-icon-window-menu,
.mirador-viewer a.mirador-icon-toc {
  font-size: 100%;
}

.mirador-viewer a.mirador-icon-toc {
  float: right;
}

.mirador-viewer .mirador-icon-image-view,
.mirador-viewer .mirador-icon-window-menu {
  width: 36px;
}

.mirador-viewer .mirador-icon-home,
.mirador-viewer .mirador-icon-pin-window,
.mirador-viewer .mirador-icon-image-view {
  color: rgb( 146, 145, 145 );
}

.mirador-viewer .mirador-icon-home:hover,
.mirador-viewer .mirador-icon-pin-window:hover,
.mirador-viewer .mirador-icon-image-view:hover {
  color: black;
}

.mirador-viewer .mirador-icon-pin-window.selected {
  transform: rotate(0);
  color: black;
}

.mirador-viewer .mirador-icon-pin-window {
  transform: rotate(45deg);
}

/* Rotate HUD controls */
.mirador-osd-rotate-left {
  position: absolute;
  top: 43px;
  left: 44px;
  font-size: 33%;
}
.mirador-osd-rotate-right {
  position: absolute;
  top: 44px;
  left: 85px;
  font-size: 33%;
}
/* .mirador-osd-up {}
.mirador-osd-down {}
.mirador-osd-right {}
.mirador-osd-left {}
.mirador-osd-go-home {} */


/*
 * Stylesheet for AoR specific customizations
 */
.aor-icon {
  float: left;
  width: 12px;
  height: 12px;
  margin: 1px;
  border-radius: 3px;
  border: 2px solid black;
  box-sizing: initial;
}
.side-left {
  border-left: 6px solid black;
  width: 8px;
}
.side-right {
  border-right: 6px solid black;
  width: 8px;
}
.side-top {
  border-top: 6px solid black;
  height: 8px;
}
.side-bottom {
  border-bottom: 6px solid black;
  height: 8px;
}

/* .side-within {} */
.side-within .inner {
  float: left;
  margin-top: 2px;
  margin-left: 2px;
  height: 8px;
  width: 8px;
  border-radius: 3px;
  background-color: black;
}

.side-left.side-right {
  width: 4px;
}
.side-left.side-within .inner {
  margin-left: -2px;
}
.side-top.side-bottom {
  height: 4px;
}
.side-top.side-within .inner {
  margin-top: -2px;
}

/* Styles for orientation arrows */
.aor-icon-container {
  float: left;
  height: 25px;
  width: 25px;
  margin-right: 8px;
}

.aor-icon-container,
.aor-icon-container::after,
.aor-icon-container::before {
  box-sizing: initial;
}

.aor-icon-container .orientation {
  position: relative;
  float: left;
  width: 0;
  height: 0;
}

.orientation.arrow-top {
  left: 3px;
  border-bottom: 6px solid black;
  border-left: 6px solid transparent;
  border-right: 6px solid transparent;
}

.orientation.arrow-bottom {
  left: 3px;
  border-top: 6px solid black;
  border-left: 6px solid transparent;
  border-right: 6px solid transparent;
}

.orientation.arrow-left {
  top: 3px;
  border-right: 6px solid black;
  border-top: 6px solid transparent;
  border-bottom: 6px solid transparent;
}

.orientation.arrow-right {
  top: 3px;
  border-left: 6px solid black;
  border-top: 6px solid transparent;
  border-bottom: 6px solid transparent;
}

/* Image manipulation controls */
.mirador-osd-reset .fa-photo {
  left: -7px;
  top: -7px;
}
.mirador-osd-reset .fa-refresh {
  left: 2px;
  top: 0;
}

.mirador-osd-navigation a {
  color: white !important;
}
/*
 * ##############################
 * Search Panel
 * ##############################
 */
/* .search-within-object-select {

}
.search-container  {

} */
.search-results-list .query {
  font-style: italic;
  color: grey;
}
.result-wrapper {
  border-bottom: 1px solid gray;
  padding: 5px 0 8px 5px;
  border-radius: 5px;
}
.js-show-canvas:hover {
  background-color: #D8D8D8;
}
.js-show-canvas {
  cursor: pointer;
}
.search-title {
  font-weight: bold;
  margin-bottom: 5px;
  display: block;
}
a.search-title {
  color: black;
}

.search-container select {
  background: white;
  padding: 3px 6px;
  height: 29px;
  border: 1px solid #d3d3d3;
  border-radius: 5px;
}
.search-container .manifest-picker-sidebar select {
  max-width: 300px;
}
.search-container button {
  height: 29px;
  padding: 0 9px;
}
.search-container button.basic-search-submit {
  border: 1px solid;
}
.search-container button.basic-search-submit:hover {
  color: white;
}
.search-container .search-within-form input[type="text"] {
  width: 250px;
}
.sidePanel .search-container .search-within-form input[type="text"] {
  width: 225px;
}
.search-container .advanced-search-inputs input {
  height: 29px !important;
}
.advanced-search-btn-container button {
  border: 1px solid;
}
.search-disclose-btn-more,
.search-disclose-btn-less {
  border-color: inherit;
}
.search-disclose-btn-more.selected,
.search-disclose-btn-less.selected {
  color: rgb(244, 242, 239);
  background-color: rgb(70, 67, 68);
}
.search-container .js-query {
  height: 29px;
}
.search-container .search-form button {
  border: 1px solid;
}
.search-results-list .result-wrapper .result-paragraph .highlight {
  background-color: rgb(255, 255, 0);
  padding: 0px 5px;
  color: black;
}
.search-results-list .selected {
  background-color: #D8D8D8;
}
.advanced-search-selector {
  width: 120px;
}
/* Get rid of dropdown arrow in IE */
.advanced-search-operators::-ms-espand {
  display: none;
}
.search-results-context-menu ul {
  position: absolute;
  background-color: #efefef;
  text-align: center;
  list-style: none;
  margin-top: 9px;
  padding: 10px;
  border: 2px solid black;
  border-radius: 5px;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
}
.search-results-context-menu ul li {
  padding: 5px 0px;
  border-bottom: 1px solid black;
}
.search-results-context-menu ul li:last-child {
  padding-bottom: 0;
  border-bottom: 0;
}


/**
 * Advanced search description icon + tooltip
 */
.search-description-icon {
  position: absolute;
  left: 15px;
  float: left;
  color: gray !important;
  cursor: pointer;
}

.search-description-icon:hover {
  color: black;
}

.ui-tooltip {
  max-width: 500px;
}

.ui-tooltip-content {
  margin: 0 5px;
}

.results-to-top {
  cursor: pointer;
  color: blue;
  display: none;
}

.repo-image span.default-logo {
  background-size: 50px 50px;
}

.italic {
  font-style: italic;
}
.emphasize {
  text-decoration: underline;
}
a.Tooltip {
  position: relative;
  font-weight: bold;
  text-decoration: none;
  color: green;
}
.Tooltip span {
  display: none;
}
.Tooltip:hover span {
  display: block;
}
span.rubric {
  color: red;
}
span.init {
  font-weight: bold;
  font-size: 1.15em;
}
span.bold {
  font-weight: bold;
}
.annotation-title {
  font-size: 1.2em;
  text-decoration: underline;
  color: gray;
}

.annotation-type-selector {
  display: none;
  margin-top: 12px;
}
.jhAnnotationTab label {
  margin: 12px;
}
a.internal-ref,
a.external-link,
a.searchable {
  color: blue;
}
a.searchable:hover {
  background-color: #FFFCAA;
}
a.internal-ref:hover, a.external-link:hover {
  text-decoration: underline;
}
a.external-link:after {
  content: "\f08e";
  display: inline-block;
  margin-left: 5px;
  font: normal normal normal 14px/1 FontAwesome;
  font-size: inherit;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
}
/* "Reader" icons */
.annotationItem .Unknown {}
.annotationItem .other-reader {
  font-weight: bold;
}
/* .annotations h2.Dee:after { */
.annotationItem .Dee:after {
  display: block;
  background-repeat: no-repeat;
  background-size: contain;
  background-image: url('../images/aor/dee.jpg');
  content: "";
  height: 50px;
  width: 50px;
  float: left;
}
/* .annotations h2.Harvey:after { */
.annotationItem .Harvey:after {
  display: block;
  background-repeat: no-repeat;
  background-size: contain;
  background-image: url('../images/aor/harvey.jpg');
  content: "";
  height: 50px;
  width: 50px;
  float: left;
}
.annotationItem .Winthrop:after {
  display: block;
  background-repeat: no-repeat;
  background-size: contain;
  background-image: url('../images/aor/winthrop.jpg');
  content: "";
  height: 50px;
  width: 50px;
  float: left;
}

/** Icon showing a book's "reader" */
.manifest-info img {
  float: left;
  height: 31px;
  margin: 2px -5px 2px 10px;
}

.mirador-main-menu .btn-research-finding-hide,
.mirador-main-menu .btn-research-finding-show {
  padding: 7px;
}

.jhAnnotationTab .empty {
  margin-top: 1em;
  color: rgb(70, 67, 68);
}
.slot h1 { color: inherit; }
.slot:hover h1,
.jhAnnotationTab .empty:hover {
  color: rgb(70, 67, 68);
}