.manifest-panel-controls {
  float: left;
  width: 100%;
  height: 100%;
  margin-right: 15px;
}

#load-controls input {
  background: white;
  padding: 1px 12px;
  color: black;
}
#load-controls .js-query {
  height: unset;
}

.select-results {
  position: absolute;
  top: 144px;
  left: 435px;
  right: 0;
  bottom: 0;
  height: auto;
  border-left: 1px solid #d3d3d3;
  border-top: 1px solid #d3d3d3;
}

.browser-search-container {}

.browser-search .search-container {
  background-color: white;
  width: inherit;
  height: inherit;
  padding-top: 0;
  overflow-x: hidden;
}

.search-container h2 {
  margin: 6px 0;
}

.browser-search .search-within-object-select {}

.browser-search-container .close {
  position: absolute;
  top: 0;
  left: 10px;
  z-index: 3;
}

.browser-search select {
  background: white;
  padding: 3px 6px;
  height: 29px;
  border: 1px solid #d3d3d3;
  border-radius: 2px;
}

.browser-search-container button {
  height: 29px;
  padding: 0 9px;
  border: 1px solid;
}

.browser-search-container button:hover {
  color: white;
}

.browser-search-container button:active {

}

/* Remove box shadow for pager */
.browser-search-container .compact-theme a,
.browser-search-container .compact-theme span {
  box-shadow: none;
}

/* Handle search results */
.browser-search-container .search-results-display {
  position: absolute;
  top: 144px;
  bottom: 0;
  left: 435px;
  width: calc(100% - 453px);
  background-color: white;
  z-index: 3;
  border-left: 1px solid #d3d3d3;
  border-top: 1px solid #d3d3d3;
  margin-top: -1px;
}
.search-results-close {
  display: none;
  cursor: pointer;
  padding: 6px;
  background-color: rgb(244, 242, 239);
}
.search-results-close:hover {
  background-color: #d3d3d3;
}

.search-results-close:active {
  background-color: #c3c3c3;
}
.search-results-close i {
  margin-right: 12px;
}
.browser-search-container .search-results-container {
  overflow-y: auto;
  position: absolute;
  top: 45px;
  bottom: 0;
  left: 10px;
  right: 0;
}

.browser-search-container .search-results-display .search-results-close {
  display: block;
}
.browser-search-container .results-to-top {
  display: block;
}

/* Search UI inputs tweaks */
.browser-search-container .search-within-form input[type="text"] {
  width: 313px;
}
.browser-search-container .advanced-search-inputs input {
  height: 29px !important;
}
.browser-search-container .advanced-search-inputs select {

}
.browser-search-container .advanced-search-inputs {

}
.browser-search-container .advanced-search-selector {

}
.browser-search-container .advanced-search-selector .advanced-search-operators {

}
.browser-search-container .advanced-search-selector .advanced-search-categories {

}

/* Accommodating longer collection descriptions */
.manifest-picker {
  display: flex;
  width: 100%;
  margin-bottom: 12px;
}
.manifest-picker label {
  margin-right: 24px;
  font-size: 14px;
  align-items: baseline;
}
.manifest-picker select, .manifest-picker span {
  font-size: 14px;
  width: 350px;
}
.manifest-picker .manifest-picker-desc {
  width: 70%;
  font-size: 16px;
}
.manifest-picker-sidebar .manifest-picker-desc {
  display: none;
}
@media screen and (max-width: 1024px) {
  .manifest-picker .manifest-picker-desc {
    font-size: 14px;
  }
}

/* Playing with jQuery UI select menu */
.ui-icon.top {
  position: relative;
  float: left;
  background-image: url("../images/logos/top.jpg");
  margin-right: 12px;
}
.ui-menu-icons .ui-menu-item {
  padding: 2px 12px;
  font-size: 14px;
  min-height: 24px;
}
.ui-icon {
  background-size: 24px;
  width: 24px;
  height: 24px;
}
.ui-icon.child {
  position: relative;
  float: left;
  margin: 0 12px;
}
.ui-state-default {
  background: white;
}

.ui-icon.dlmm {
  background-image: url("../images/logos/dlmm.jpg");
}
.ui-icon.aor {
  background-image: url("../images/logos/aorcollection.jpg");
}
.ui-icon.rose {
  background-image: url("../images/logos/rosecollection.jpg");
  margin-left: 24px;
}
.ui-icon.pizan {
  background-image: url("../images/logos/pizancollection.jpg");
  margin-left: 24px;
}
.ui-icon.hamlet {
  background-image: url("../images/logos/hamletcollection.jpg");
}

.ui-selectmenu-menu {
  box-shadow: 0 10px 40px rgba(0,0,0,0.2);
}
body .ui-tooltip {
  box-shadow: 0 10px 40px rgba(0,0,0,0.2);
}

/* Crap to get 'collection picker' dropdown to work in IE */
#viewer {
  z-index: 1;
}

/*  */
.select-results.full-width {
  left: 0;
}
.browser-search-container .search-results-display.full-width {
  left: 0;
  width: initial;
  right: 0;
}