.research-finding-container {
  position: relative;
  background-color: rgb(239,239,239);
  z-index: 18001;
}
.research-finding-container .item-title {
  font-size: 18px;
}
.research-finding-container .item-description {
  font-size: 12px;
}
.research-finding-container h2 {
  font-size: 26px;
}
.research-finding-container .history-col {
  overflow-y: auto;
}
.research-finding-container #dialog-export-html .modal-body {
  overflow-y: auto;
}

.research-finding-container .history-list {
  list-style: none;
}

.research-finding-link.export-link {
  cursor: text;
}
.research-finding-link.export-link:hover {
  color: unset;
  text-decoration: unset;
}